name: sast-tools

on:
  push:
    branches:
      - main
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  bearer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Report
        id: report
        uses: bearer/bearer-action@v2
        with: 
          exit-code: 0
  poutine:
    runs-on: ubuntu-latest
    steps:
      - name: poutine - GitHub Actions SAST
        uses: boostsecurityio/poutine-action@main
