name: sast-tools

on:
  push:
    branches:
      - main
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  bearer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Report
        id: report
        uses: bearer/bearer-action@v2
        with: 
          exit-code: 0
  poutine:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
    steps:
      - name: poutine - GitHub Actions SAST
        uses: boostsecurityio/poutine-action@v1
      - name: Upload poutine SARIF file
        uses: github/codeql-action/upload-sarif@v4.32.1
        with:
          sarif_file: results.sarif
